.back-image2 {
  background: url(../../assets/img/sw-back2.jpg);
  background-position: center center;
  background-size: cover;
}

.content {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

h1.char-title {
  font-size: 3rem;
}

@media (max-width: 768px) {
  h1.char-title {
    font-size: 2em;
  }
}
