header {
  background-color: #21222c;

  .navbar-light {
    .navbar-brand {
      img {
        height: 50px;
      }
    }

    .navbar-nav {
      .nav-link {
        padding: 30px 15px;
        font-size: 16px;
        font-weight: normal;
        color: #d1d1d1;
      }
    }
  }
}
