body {
  margin: 0;
  color: #d1d1d1 !important;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  color: #d1d1d1 !important;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9em !important;
  }
}
